[submodule "Code/ESP32/Ferrofluid-Speaker/components/ESP32-A2DP"]
	path = Code/ESP32/Ferrofluid-Speaker/components/ESP32-A2DP
	url = https://github.com/pschatzmann/ESP32-A2DP.git
[submodule "Code/ESP32/Ferrofluid-Speaker/components/esp32-fft"]
	path = Code/ESP32/Ferrofluid-Speaker/components/esp32-fft
	url = https://github.com/pschatzmann/esp32-fft.git
